@charset 'utf-8';

*{margin:0 ;padding: 0;}
body{font-size: 14px; color: #000;}
h3{font-size: 20px; color: red; margin-top:15px; margin-bottom: 5px;}
.bg{width:300px;height:230px;background: url(../images/xinyitong4.jpg) no-repeat;}